@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "OwnglyphJooBin";
  src: url("../public/fonts/Ownglyph_2022_UWY_Joo_Bin-Rg.ttf");
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  @apply flex flex-col items-center bg-[#EEEEEE];
  font-family: "OwnglyphJooBin";
}

header {
  @apply w-full max-w-screen-lg;
}

#root {
  @apply w-full max-w-screen-lg min-h-screen;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

input,
label {
  @apply py-2 px-4 outline-none border border-main my-1 bg-transparent  text-main font-semibold placeholder:text-main/50;
}
